/*========💨AwalRegion_Global_Body_Styles💨=====*/
/* Style global untuk body - font dan smoothing */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*========💧AkhirRegion_Global_Body_Styles💧=====*/

/*========💨AwalRegion_Code_Element_Styles💨=====*/
/* Style untuk element code - font monospace */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*========💧AkhirRegion_Code_Element_Styles💧=====*/
